* {
  margin: 0;
  padding: 0;
}

/* left side col */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 1px solid gray;
}
.logo {
  width: 70%;
}
.home {
  font-weight: bold;
}
.icon {
  font-size: 1.5rem;
}
.roww {
  padding: 0.8rem;
}
/* middle and right side col */
.rightPortion {
  margin-left: 16.66%;
  /* height: 100vh; */
  /* overflow-y: auto; */
}
/* right side col */
.roww-rightside {
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dpdiv {
  margin-right: 5px;
}
.dpHolder {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dp {
  font-size: 0.8rem;
}
.userName {
  font-weight: 600;
}

.links {
  font-size: 0.8rem;
  color: blue;
  font-weight: 600;
}
.suggestionBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-left: 0.6rem;
  padding: 0;
}
.suggest-text {
  color: rgb(134, 133, 133);
  font-size: 0.8rem;
  font-weight: 500;
}
ul li {
  list-style: none;
}
.footer {
  color: rgb(207, 202, 202);
}
.menu {
  font-size: 0.8rem;
}
.copyright {
  font-size: 0.8rem;
}

/* middle col */
.storyHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.storyHolder p {
  font-size: 0.8rem;
  margin-top: 5px;
}
.story {
  height: 66px;
  width: 66px;
  border-radius: 50%;
  border: 2px solid red;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.story img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.postHeadline {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.post-username {
  font-weight: 500;
}
.post-username span {
  color: rgb(134, 133, 133);
}
.post-audio {
  font-size: 0.8rem;
  color: rgb(134, 133, 133);
}
.postDp {
  border: 2px solid red;
}
.videoHolder {
  height: 80vh;
}
.vid {
  object-fit: cover;
  border-radius: 5px;
}
.vid::-webkit-media-controls {
  display: none !important;
}
.vid::-webkit-media-controls-enclosure {
  display: none !important;
}
.vid::-webkit-media-controls-panel {
  display: none !important;
}
.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cardBody {
  border-bottom: 1px solid gray;
  padding: 0;
  padding-bottom: 3rem;
}
.card-title {
  margin-bottom: 2px;
}
.card-text {
  font-size: 0.9rem;
  color: rgb(134, 133, 133);
  font-weight: 400;
}
.card-link {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
}
.suggested-text {
  color: rgb(134, 133, 133);
  font-size: 0.9rem;
  font-weight: 600;
}
.see-all-text {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: right;
  padding-right: 0.4rem;
}
.suggestedPostDp {
  height: 77px;
  width: 77px;
  border-radius: 50%;

  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.suggestedPostDp img {
  height: 75px;
  width: 75px;
  object-fit: cover;
  border-radius: 50%;
}
.postReactiontools {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lastPostPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hashTags {
  color: blue;
}
.sugg4u {
  font-weight: 600;
}
.seeAll {
  font-size: 0.8rem;
  color: blue;
}
.commentText {
  color: rgb(134, 133, 133);
}

.xHolder {
  margin-right: 0.5rem;
}
.x {
  color: rgb(134, 133, 133);
  margin-right: 2px;
}
/* CREATE MODAL WINDOW */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: none; */
  z-index: 1000;
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  /* padding: 20px; */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1100;
  /* display: none; */
}
.modal-head {
  padding: 0.5rem 0;
}
.modal-head p {
  font-weight: 500;
  margin: 0;
}
.modal-body {
  padding: 5rem 3rem;
}
.media-icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.media-icon {
  font-size: 4rem;
}
.instruction-text {
  font-size: 1.2rem;
}
.button-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-window button {
  border: none;
  border-radius: 5px;
  padding: 0.2em 1em;
  background-color: rgb(42, 134, 227);
}
